<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mappers.boardMapper">
	
	<select id="listAll" resultType="BoardVo">
		select * 
			from (select rownum rnum, a.* 
        	  from (select * 
        	  		from tbl_notice	order by not_num desc
                   ) a
             )
		where rnum &gt;= #{startRow} and rnum &lt;= #{endRow}
	</select>
	
	<select id="hotList" resultType="BoardVo">
		select * 
			from (select rownum rnum, a.* 
        	  from (select * 
        	  		from tbl_notice	order by not_num desc
                   ) a
             )
		where not_hot = 1
	</select>
	
	<select id="listCount" resultType="int">
		select count(*) from tbl_notice
	</select>
	
	<select id="getNextVal" resultType="int">
		select seq_notice_num.nextval
		from dual
	</select>
	
	<insert id="create">
		insert into tbl_notice (not_num, not_title, not_content, not_writer)
		values (seq_notice_num.nextval, #{not_title}, #{not_content}, #{not_writer})
	</insert>
	
	<select id="read" resultType="BoardVo">
		select * from tbl_notice
		where not_num = #{not_num}
	</select>
	
	<delete id="delete">
		delete from tbl_notice
		where not_num = #{not_num}	
	</delete>
	
	<update id="update">
		update tbl_notice set
			not_title = #{not_title},
			not_content = #{not_content}
		where not_num = #{not_num}
	</update>
	<update id="hotUpdate">
		update tbl_notice set
			not_title = #{not_title},
			not_content = #{not_content},
			not_hot = 1
		where not_num = #{not_num}
	</update>
	
	<update id="hotDelete">
		update tbl_notice set
			not_title = #{not_title},
			not_content = #{not_content},
			not_hot = 0
		where not_num = #{not_num}
	</update>
	
	<update id="updateViewCount">
		update tbl_notice set
			not_viewcount = not_viewcount + 1
		where not_num = #{not_num}
	</update>
	
</mapper>  


