<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mappers.buyMapper">

	<insert id="insertBuy">
		insert into tbl_buy(buy_num,mem_id,buy_address,buy_tel,buy_price)
		values (#{buy_num}, #{mem_id}, #{buy_address}, #{buy_tel}, #{buy_price})
	</insert>

	<insert id="insertBuyDetail">
		insert into tbl_buy_detail(buy_num,pdt_num,buy_count)
		values(#{buy_num},#{pdt_num},#{buy_count})
	</insert>
		
	<select id="getSeqBuyNextVal" resultType="int">
		select seq_buy.nextval
		from dual
	</select>
	
	<select id="selectJoinByMemId" resultType="BuyJoinDto">
		select * 
		from tbl_buy b, tbl_buy_detail bd
		where b.mem_id = #{mem_id}
		order by b.buy_date desc
	</select>
	
	<select id="selectDetailCount" resultType="int">
		select count(*) from tbl_detail
		where buy_num=#{buy_num}
	</select>

</mapper>