<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.team2.mappers.cartMapper">

	<select id="cartList" resultType="CartVo">
		select a.cart_num,a.cart_count,a.mem_id,b.pdt_num,b.pdt_name,b.pdt_price,b.pdt_image
 		from tbl_cart a,tbl_product b
 		where a.mem_id = #{mem_id} and b.pdt_num = a.pdt_num
	</select>
	
	<select id="isCart" resultType="int">
		select count(*)
		from tbl_cart
		where pdt_num = #{pdt_num} and mem_id = #{mem_id}
	</select>
	

	<insert id="addCart">
		insert into tbl_cart
 		values ( #{pdt_num} , SEQ_CARTNUM.nextval , #{cart_count} , #{mem_id})
	</insert>
	
	<delete id="deleteCart">
		delete from tbl_cart
		where cart_num = #{num}
	</delete>
	
	<delete id="deleteAll">
		delete from tbl_cart
	</delete>
	
	<update id="updateCount">
		update tbl_cart set
		cart_count = #{count}
		where cart_num = #{cart_num}
	</update>
	
	<update id="countUp">
		update tbl_cart set
		cart_count = cart_count + #{cart_count}
		where pdt_num = #{pdt_num}
	</update>
</mapper>  
