<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.team2.mappers.certifyMapper">

	<insert id="setKey">
		insert into tbl_certify
		values ( #{certify_id} , #{certify_key} )
	</insert>
	
	<select id="idCheck" resultType="int">
		select count(*)
		from tbl_certify
		where certify_id = #{certify_id}
	</select>
	
	<update id="keyUpdate">
		update tbl_certify set
		certify_key = #{certify_key}
		where certify_id = #{certify_id}
	</update>
	
	<delete id="joinSuccess">
		delete from tbl_certify
		where certify_id = #{certify_id}
	</delete>
	
</mapper>