<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.team2.mappers.memberMapper">

	<insert id="insertMember">
		insert into tbl_member 
		(mem_name, mem_id, mem_pass, mem_address, mem_tel)
		values 
		(#{mem_name}, #{mem_id}, #{mem_pass}, #{mem_address}, #{mem_tel})
	</insert>

	<select id="readMember" resultType="MemberVo">
		select * from tbl_member
		where mem_id = #{mem_id}
	</select>
	
	<select id="readWithPw" resultType="MemberVo">
		select * from tbl_member
		where mem_id = #{mem_id} and mem_pass = #{mem_pass}
	</select>
	
	<select id="idCheck" resultType="int">
		select count(*) from tbl_member
		where mem_id = #{mem_id}
	</select>
	
	<update id="memUpdate">
		update tbl_member set
		mem_pass=#{mem_pass},
		mem_address=#{mem_address},
		mem_tel=#{mem_tel}
		where mem_id = #{mem_id}
		
	</update>
	
	<insert id="setKey">
	insert into tbl_join
	values ( #{mem_id} , #{key} )
	</insert>
	
	<select id="emailCheck" resultType="int">
		select count(*)
		from email
		where email = #{mem_id}
	</select>
	
</mapper>  
