<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.mappers.productMapper">
	<insert id="insertPDT">
		insert into
		tbl_product(pdt_num,pdt_category,pdt_name,pdt_date,pdt_price,pdt_image)
		values(seq_product.nextval,#{pdt_category},#{pdt_name},#{pdt_date},#{pdt_price},#{pdt_image})
	</insert>

	<select id="readAllPDT" resultType="ProductVo">
		select * from tbl_product
	</select>

	<select id="readPDT" resultType="ProductVo">
		select * from tbl_product
		where pdt_num = #{pdt_num}
	</select>

	<update id="updatePDT">

	</update>

	<delete id="deletePDT">

	</delete>

	<select id="readByPdtNum" resultType="ProductVo">
		select * from tbl_product
		where pdt_num = #{pdt_num}
	</select>


</mapper>  
