<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.mappers.productMapper">
	<insert id="insertPDT">
		insert into
		tbl_product(pdt_num,pdt_category,pdt_name,pdt_date,pdt_price,pdt_image,pdt_subimage)
		values(seq_product.nextval,#{pdt_category},#{pdt_name},#{pdt_date},#{pdt_price},#{pdt_image},#{pdt_subimage})
	</insert>

	<select id="readAllPDT" resultType="ProductVo">
		select * from tbl_product
		order by pdt_num
	</select>

	<select id="readPDT" resultType="ProductVo">
		select * from tbl_product
		where pdt_num = #{pdt_num}
	</select>

	<update id="updatePDT">
		update tbl_product set
		pdt_category=#{pdt_category},
		pdt_name=#{pdt_name},
		pdt_date=#{pdt_date},
		pdt_price=#{pdt_price},
		pdt_image=#{pdt_image},
		pdt_subimage=#{pdt_subimage}
		where pdt_num = #{pdt_num}
	</update>

	<delete id="deletePDT">
		delete from tbl_product
		where pdt_num = #{pdt_num}
	</delete>

	<select id="selectSingleCount">
		select count(*)
		from tbl_product
		where pdt_date=1;
	</select>

	<select id="selectSubCount">
		select count(*)
		from tbl_product
		where pdt_date>1;
	</select>
	
	<select id="listAllTest" resultType="ProductVo">
		select * 
			from (select rownum rnum, a.* 
        	  from (select * from tbl_product
					order by pdt_num desc
                 ) a
             )
		where rnum &gt;= #{startRow} and rnum &lt;= #{endRow}
	</select>
	
	<update id="updatePdtSales">
		update tbl_product set
		pdt_sales = pdt_sales + #{pdt_sales}
		where pdt_num = #{pdt_num}
	</update>
	
</mapper>  
