<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mappers.reviewMapper">
	
	<select id="readReview" resultType="ReviewVo">
		select * from tbl_review
		where rev_num = #{rev_num}
	</select>
	
	<select id="listAll" resultType="ReviewVo">
		select * from 
		(select rownum rnum, a.* from 
		(select * from tbl_review	order by rev_num desc) a)
		where rnum &gt;= #{startRow} and rnum &lt;= #{endRow}
	</select>
	
	<select id="listCount" resultType="int">
		select count(*) from tbl_review
	</select>
	
	<insert id="insertReview">
		insert into tbl_review(rev_num, rev_title, rev_content, rev_writer, rev_pdt_name, rev_image)
		values (seq_rev_num.nextval, #{rev_title}, #{rev_content}, #{rev_writer}, #{rev_pdt_name}, #{rev_image})
	</insert>
	
	
	<select id="productName" resultType="ProductVo">
		select * from tbl_product
	</select>
	
	<select id="reviewList" resultType="ReviewVo">
		select * from 
		(select rownum rnum, a.* from 
		(select * from tbl_review	order by rev_num desc) a)
		where rnum &gt;= 1 and rnum &lt;= 4
	</select>
	
	<update id="viewCount">
		update tbl_review set
			rev_viewcount = rev_viewcount + 1
		where rev_num = #{rev_num}
	</update>
	
	<delete id="reviewDelete">
		delete from tbl_review
		where rev_num = #{rev_num}
	</delete>
	
	<select id="readPdtNum" resultType="ReviewVo">
		select * from tbl_review
		where rev_pdt_name = #{rev_pdt_name}
	</select>
</mapper>  


