<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mappers.revReplyMapper">
	
	
	<select id="list" resultType="RevReplyVo">
		select * from tbl_revReply
		where rep_bno = #{rep_bno}
		order by rep_num desc
	</select>
		
	<insert id="insertReply">
		insert into tbl_revReply(rep_num, rep_bno, rep_content, rep_writer)
		values (seq_rep_num.nextval, #{rep_bno} , #{rep_content}, #{rep_writer})
	</insert>
	
	<update id="update">
		update tbl_revReply set
			rep_content = #{rep_content},
			rep_date = sysdate
		where rep_num = #{rep_num}	
	</update>
	
	<delete id="delete">
		delete from tbl_revReply
		where rep_num = #{rep_num}
	</delete>
	
	
	
	
	
</mapper>  


